.product-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 4px 0 0 4px;
  border: 2px solid green;
  outline: none;
}
.add-product-btn {
  padding: 16px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: green;
  color: aliceblue;
  text-transform: capitalize;
}
