.product-form {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.product-input {
  width: 200px;
  font-size: 18px;
  background-color: white;
  padding: 4px 0 0 4px;
  border: 2px solid green;
  outline: none;
  color: gray;
}
.add-product-btn {
  padding: 16px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: green;
  color: aliceblue;
  text-transform: capitalize;
}

.suggestion {
  cursor: pointer;
  padding-bottom: 3px;
  margin-bottom: 3px;
}